.banner01{
    background-image: url("../src/images/banner-s.webp");
    background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  height: 720px;
  }